body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  height: 100%;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.app {
  display: flex;
  border-bottom: 2px solid black;
  height: calc(100vh - 60px);
}

.nav-bar {
  width: 30%;
  max-width: 30%;
  border-right: 2px solid black;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  list-style-type: none;
  font-size: 18px;
  padding: 12px;
  padding-left: 30px;
  border-bottom: 2px solid black;
}

.nav-bar-link {
  width: 100%;
  text-decoration: none;
}

.main {
  width: 70%;
  max-width: 70%;
}

/* Home */
.home-container {
  max-height: 100%;
  overflow-y: auto;
}

/* Overview */

.overview {
  padding: 12px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .overview {
    flex-direction: column;
  }
}

/* Budget */

.budget-overview {
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px;
  margin: 12px;
  width: 50%;
  /* width: 200px; */
}

@media screen and (max-width: 900px) {
  .budget-overview {
    width: 80%;
  }
}

.budget-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-graph {
  margin: 8px;
  max-width: 200px;
}

.budget-text {
  margin: 8px;
  padding-top: 20px;
}

/* Category */

.category-overview {
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px;
  margin: 12px;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .category-overview {
    width: 80%;
  }
}

.category-content {
  padding: 12px;
  display: flex;
  flex-direction: row;
}

.category-graph {
  padding-right: 12px;
}

.category-text {
  width: 100%;
  align-self: center;
}

/* Home */

.table-section {
  margin: 12px;
  width: fit-content;
}

.table {
  margin: 12px;
  width: 100%;
}

/* Form */

.error-message {
  color: red;
}

.form-field {
  margin-bottom: 15px;
  width: 200px;
}
